/* src/assets/styles/App.css */

/* 
primary green color: #193320
secondary green color: #013D1D
teal color: #F9F8DA
*/

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  /* overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App-header {
  position: relative; /* Ensure position is relative for video and content stacking */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  background-color: transparent;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire viewport */
  z-index: -1; /* Ensure it's behind other content */
}

/* Additional styles for Navbar and Footer as needed */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
  background-color: transparent !important; /* Make the navbar transparent */
  /* Add more styles as per your design */
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Updated project-video class */
.project-video {
    width: 50% !important; /* Set width to 50% */
    max-width: 75px !important; /* Adjusted max-width for smaller videos */
    height: 40px !important; /* Adjusted height for the video */
    border-radius: 10px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds shadow */
    margin: 10px; /* Space around videos */
}
