html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hero {
  height: 100vh; /* Make hero section full viewport height */
  width: 100%; /* Make hero section full viewport width */
  position: relative; /* Ensure proper positioning of elements */
  overflow: hidden; /* Hide any overflow */
}

.hero-content {
  z-index: 1;
  text-align: center; /* Center text content */
  position: absolute; /* Position relative to its nearest positioned ancestor */
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Move content to center */
  width: 90%; /* 90% of the parent container */
  color: #F9F8DA;
  margin: 0;
  font-weight: 700; /* Apply the same font-weight as in Navbar */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #0056b3;
}

.hero-text-box {
  background-color: rgba(1, 53, 26, 0.8); /* Darker semi-transparent #01351A */
  padding: 10px; /* Adjusted padding */
  border-radius: 10px;
  width: fit-content; /* Adjusted width to fit content */
  margin: 0 auto; /* Center horizontally */
  font-family: 'Suranna-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.hero-text-box h1 {
  color: #193320; /* Set text color to #F9F8DA for contrast */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1; /* Ensure video is behind other content */
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .hero-button {
    font-size: 0.9rem;
  }
}
