/* Base styles */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Suranna-Regular', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: #f3f4f6;
}

/* Container Styles */
.home-container {
    min-height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #333;
    padding: 20px;
    overflow: hidden; /* Removed border-radius */
}

/* Consistent Section Styles */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    padding: 80px 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: 40px;
    overflow: hidden; /* Removed border-radius */
}

/* Introduction Section */
.introduction-section {
    text-align: center;
    background-color: #1f1f1f;
    color: #ffffff;
    padding: 60px 20px;
    overflow: hidden; /* Removed border-radius */
}

.introduction-section h2 {
    font-size: 2.5rem;
    color: #ffffff;
}

.introduction-section p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
}

/* About Section */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 20px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 40px;
    overflow: hidden; /* Removed border-radius */
}

.about-content {
    flex: 1;
    text-align: left;
    margin-right: 20px;
}

.about-content h2 {
    font-size: 2.5rem;
    color: #000000;
    margin-bottom: 20px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Section Headers */
.section-header {
    margin-bottom: 40px;
    text-align: center;
}

.section-header h2 {
    font-size: 2.5rem;
    color: #000000;
}

/* Service and Project Item Styles */
.service-item, .project-item {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.service-item:hover, .project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Button Styles */
.btn {
    background-color: #333;
    border: 1px solid #333;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #ffffff;
    color: #333;
    transform: scale(1.05);
}

/* Featured Projects Styles */
.featured-projects {
    padding: 80px 20px;
    background-color: #ffffff;
    margin-bottom: 40px;
    width: 100%;
    max-width: 1200px;
    overflow: hidden; /* Removed border-radius */
}

.project-showcase {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    text-align: center;
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 10px;
}

.project-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }

    .about-content {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-image img {
        max-width: 100%;
    }

    .service-item, .project-item {
        width: 100%;
    }

    .project-showcase {
        flex-direction: column;
    }

    .project-video::before {
        content: url('../images/TheHeights1.png');
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .project-video:playing::before {
        display: none;
    }
}
