/* src/assets/styles/Navbar.css */

/* Base styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 2000;
  background-color: #01351A;
  display: flex;
  align-items: center;
  padding: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.container-fluid {
  padding: 20px;
  background-color: #01351A;
}

.navbar-brand {
  color: #ffffff !important;
  margin-right: auto !important;
  margin-left: 0 !important;
  padding-left: 0;
  font-weight: 700 !important;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.navbar-icon {
  font-size: 1.5rem;
  margin-right: 10px;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #ccc !important;
}

.nav-link {
  color: #F9F8DA !important;
  font-weight: 700 !important;
  font-size: 20px;
  font-family: 'Suranna-Regular', sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

.navbar-brand img {
  width: 300px;
  height: auto;
  margin-right: 10px;
}

.large-favicon {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
  clip-path: inset(10%);
}

/* Mobile-specific styles */
@media (max-width: 576px) {
  .navbar {
    height: 120px; /* Adjusted height for mobile */
  }

  .container-fluid {
    padding: 10px;
  }

  .navbar-brand {
    font-size: 1.5rem;
    margin-bottom: 10px; /* Adjust margin as needed */
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px; /* Add margin-top to create space */
  }

  .nav-item {
    width: 100%;
    text-align: center;
  }

  .nav-link {
    font-size: 1rem;
    padding: 10px;
    /* Remove the border-bottom */
    border-bottom: none;
  }

  .navbar-collapse {
    position: absolute;
    top: 120px; /* Adjust to match your navbar height */
    left: 0;
    width: 100%;
    background-color: #01351A;
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  }

  .navbar-toggler {
    border: none;
    background: none;
    font-size: 1.5rem;
    color: #F9F8DA;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-toggler-icon {
    background-image: none;
  }

  .navbar-toggler-icon:before {
    content: '\2630'; /* Unicode character for the hamburger icon */
    font-size: 1.5rem;
    color: #F9F8DA;
  }

  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
}
