:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --primary-color: #000000;
    --background-color: #ffffff;
    --card-background-color: #F0F0C9; 
}

.portfolio-container {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    width: 100%;
    margin: 0;
    font-family: var(--font-montserrat);
    text-align: center;
    padding-bottom: 200px;
    padding-top: 50px;
}

.property-carousel {
    width: 100%;
    margin: 0 auto;
}

.slick-slide {
    padding: 0 5px;
    padding-bottom: 80px;
}

.property-card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    font-family: var(--font-montserrat);
    padding: 0;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.property-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.property-card .property-card-img {
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.property-card .card-body {
    padding: 15px;
}

.property-card .card-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1rem;
}

.property-card .card-text {
    font-size: 0.9rem;
}

.property-card .btn-primary {
    background-color: #01351a;
    border-color: #01351a;
    color: #fff;
    font-size: 0.8rem;
    padding: 8px 16px;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.property-card .btn-primary:hover {
    background-color: #193320; /* Green background on hover */
    color: #ffffff; /* White text on hover */
    border-color: #193320; /* Keep the same border color */
}

@media (max-width: 768px) {
    .property-carousel {
        width: 90%;
    }

    .slick-slide {
        padding: 0 10px; /* Less padding for smaller screens */
    }

    .property-card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .property-card .card-title {
        font-size: 1rem;
    }

    .property-card .card-text {
        font-size: 0.8rem;
    }

    .property-card .btn-primary {
        font-size: 0.7rem;
    }
}

@media (max-width: 576px) {
    .portfolio-container {
        padding-bottom: 150px; /* Increased bottom padding */
    }

    .property-carousel {
        width: 100%;
    }

    .slick-slide {
        padding: 0 5px; /* Minimal padding for mobile */
    }

    .property-card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .property-card .card-title {
        font-size: 0.9rem;
    }

    .property-card .card-text {
        font-size: 0.7rem;
    }

    .property-card .btn-primary {
        font-size: 0.6rem;
    }
}
