:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --primary-color: #01351A;
    --background-color: #F9F8DA;
    --card-background-color: #F0F0C9; 
}

.portfolio-container {
    min-height: 600px; /* Adjusted based on the tallest card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    width: 100%;
    margin: 0;
    font-family: var(--font-montserrat);
    text-align: center;
    padding-bottom: 200px !important; /* Additional padding to accommodate the footer */
    padding-top: 50px;
}


.property-carousel {
    width: 90%;
    margin: 0 auto;
}

.slick-slide {
    padding: 0 5px;
    padding-bottom: 80px;
}

.property-card {
    border: none;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    font-family: var(--font-montserrat);
    padding: 0;
    background-color: var(--card-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.property-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.property-card .property-card-img {
    max-height: 300px;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
}

.property-card .property-card-img:hover {
    transform: scale(1.1);
}

.property-card .card-body {
    padding: 15px;
    font-family: var(--font-montserrat);
    background-color: var(--card-background-color);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.property-card .card-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: var(--font-montserrat);
    font-size: 1rem;
    transition: color 0.5s ease-in-out;
}

.property-card:hover .card-title {
    color: var(--primary-color);
}

.property-card .card-text {
    font-size: 0.9rem;
    font-family: var(--font-montserrat);
    transition: color 0.5s ease-in-out;
}

.property-card:hover .card-text {
    color: var(--primary-color);
}

.property-card .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    align-self: center;
    font-size: 0.8rem;
    padding: 8px 16px;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.property-card .btn-primary:hover {
    background-color: #012E1F;
    border-color: #012E1F;
    color: #fff;
    transform: scale(1.1);
}

.property-card .btn-primary:focus,
.property-card .btn-primary.focus {
    box-shadow: none;
    outline: none;
}

@media (min-width: 576px) {
    .portfolio-container {
        padding-bottom: 150px;
    }

    .property-carousel {
        width: 80%;
    }

    .property-card {
        width: auto;
        max-width: 300px;
    }

    .property-card .card-title {
        font-size: 1.2rem;
    }

    .property-card .card-text {
        font-size: 1rem;
    }

    .property-card .btn-primary {
        font-size: 0.9rem;
    }
}
