* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.property-detail-container {
    font-family: 'Suranna-Regular', sans-serif;
    min-height: calc(100vh - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Adjusted to flex-start for better alignment */
    background-color: #f9f9f9; /* Light background for contrast */
    color: #333; /* Default text color */
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    width: 100%;
    margin: 0;
    padding-bottom: 300px; /* Increased padding to prevent footer overlap */
    border-radius: 15px; /* Added rounded edges */
    overflow: hidden; /* To ensure the border radius is applied to child elements */
}

.property-detail-container h3 {
    font-family: 'Suranna-Regular', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    color: #193320; /* Updated title color */
}

.property-detail-container .card {
    margin-bottom: 20px;
    background-color: #ffffff; /* Keeping card background white for contrast */
    border-radius: 15px; /* Added rounded edges */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.property-detail-container .card-img-top {
    height: 480px; /* Increased height by 20% from 400px */
    object-fit: cover; /* Cover the card area, ensuring no distortion */
    border-top-left-radius: 15px; /* Match the card rounded edges */
    border-top-right-radius: 15px; /* Match the card rounded edges */
    cursor: pointer; /* Indicate that the image is clickable */
}

.property-detail-container .card-body {
    padding: 20px; /* Add padding for card content */
}

/* Image popup styles */
.image-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background with opacity */
    z-index: 1000; /* On top of everything */
}

.popup-image {
    max-width: 80%; /* Reduced max width for the popup image */
    max-height: 80%; /* Reduced max height for the popup image */
    border-radius: 10px; /* Slightly rounded corners */
}
