.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C4A484;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .footer.show {
    transform: translateY(0);
  }
  
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1rem;
  }
  
  .footer ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif !important;
  }
  
  .footer .social-icons {
    margin-bottom: 1rem;
  }
  
  .footer .social-icons a {
    margin-right: 10px;
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
  }
  