.hero {
  height: 90vh;
  width: 200%;
  /* background-image: url('../images/fourpillarslogo.png'); Ensure the correct path */
}

.hero-content {
  z-index: 1;
  text-align: center; /* Center text content */
  position: absolute; /* Position relative to its nearest positioned ancestor */
  left: 50%; /* Move 50% from the left */
  top: 80%; /* Move 50% from the top */
  transform: translate(-50%, -50%); /* Move 50% left and top */
  width: 90%; /* 90% of the parent container */
  color: #F9F8DA;
  margin: 30px;
  font-weight: 700; /* Apply the same font-weight as in Navbar */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #0056b3;
}

.hero-text-box {
  background-color: #F9F8DA; /* Changed color to #E6D5BA */
  padding: 10px; /* Adjusted padding */
  border-radius: 10px;
  width: fit-content; /* Adjusted width to fit content */
  margin: 0 auto; /* Center horizontally */
}

.hero-text-box h1 {
  color: black; /* Set text color to black */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1; /* Ensure video is behind other content */
}
