/* src/assets/styles/Hero.css */
.hero {
  height: 90vh;
  width: 200%;
  /* background-image: url('../images/fourpillarslogo.png'); /* Ensure the correct path */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #101214;
  text-align: center;
}

.hero-content {
  z-index: 1;
  text-align: center; /* Center text content */
  position: absolute; /* Position relative to its nearest positioned ancestor */
  left: 50%; /* Move 50% from the left */
  top: 15%; /* Move 50% from the top */
  transform: translate(-50%, -50%); /* Move 50% left and top */
  width: 90%; /* 90% of the parent container */
  color: rgb(31, 29, 29);
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #0056b3;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  z-index: -1; /* Ensure video is behind other content */
}