/* src/components/Navbar.css */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
  background-color: transparent; /* Make the background transparent */
}

.navbar-brand, .nav-link {
  color: white !important; /* Adjust text color */
}

.navbar-brand:hover, .nav-link:hover {
  color: #ccc !important; /* Adjust hover color */
}
