.portfolio-container {
    min-height: calc(100vh - 250px); /* Adjust based on your footer height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F9F8DA; /* Adjust background color as needed */
    color: #333;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 100; /* Ensure this container is above other content */
    width: 100%;
    margin: 0;
    padding-bottom: 200px; /* Additional padding below content */
}

.property-card {
    /* border: 1px solid #ccc; */ /* Remove border */
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
    width: 100%; /* Ensure cards take full width of container */
    background-color: #F9F8DA;
}

.property-card:hover {
    transform: scale(1.05);
}

.property-card .card-img-top {
    height: 200px; /* Adjust height of the image */
    object-fit: cover; /* Ensure the image covers the whole space */
    margin-bottom: 15px; /* Spacing below the image */
}

.property-card .card-body {
    padding: 15px;
}

.property-card .card-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.property-card .card-text {
    font-size: 1rem;
}
